* 
{
  font-family: "Bitter", sans-serif;
}

img {
    float: left; 
    /* padding:24px; */
    /* max-width:75%; */
     max-height: 45vh; 
  }
  /* .container{ 
    margin-left:10%;
    padding-left:10%;
    margin-right:10%;
    padding-right:10%;

  } */
  h2{
    text-align: center;
    
  }
  .about-me{
    display: flex;
  }
  .left-align{
    max-width:40%;
  }
 .about-me ul {
  display: inline;
  font-weight: bolder;
  font-size:24px
}
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }