img {
    float: left; 
    padding:24px;
    max-width:75%;
    max-height: 30vh;
  }
  .container{ 
    margin-left:10%;
    padding-left:10%;
    margin-right:10%;
    padding-right:10%;

  }
  .about-me{
    display: flex;
  }
  .left-align{
    max-width:30%;
  }
  .right-align{
    max-width:70%;
  }

.about-me ul {
  display: inline;

}
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }