h2 {
  /* display:inline block; */
  /* text-align: center; */
  /* smargin-left: 300px;  */
  /* margin-right: 400px; */
  margin-bottom: 25px;
  height: 10%; 
} 
 #contact {
    text-align: center;
  }

  .form-item{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
  }
  .input{
    box-shadow: 5px 10px var(--dark);
    border-radius: 5px;
  }

  form{
    text-align: center;
  } 