:root {
    --light: white;  
    --med: rgb(189, 174, 135);
    --dark:  rgb(96, 113, 124); 
    font-family: "Bitter", sans-serif;
    }
    
footer{
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    text-align: center;
 }
    
    /* h1, header {
        display:inline-block;  
        text-align: center;
        border: solid; 
        margin-left: 400px; 
        margin-right: 400px;
        box-shadow: 5px 10px var(--dark);
        border-radius: 5px;
        background-color: var(--med);
        opacity: .7;
        margin-bottom: 25px;
        height: 10%;
    } */