:root {
    --light: white;  
    --med: rgb(189, 174, 135);
    --dark:  rgb(96, 113, 124); 
    font-family: "Bitter", sans-serif;
    }
    
footer{
    width: 100%;

    bottom: 0;
    padding-top: 25px;
    text-align: center;
 }
